.tacoRecipe {
  align-items: center;
}

.tacoRecipe h1 {
  font-weight: bold;
  text-align: center;
}
.body {
  height: 100%;
}

.content {
  margin: 4%;
  padding-bottom: 4rem;
}
.content h1 {
  font-weight: bold;
}
.footer {
  background-color: grey;
  line-height: 60px;
  height: 8rem;
}
